<div class="goodcity-logo-banner {{ device }}">
    <div class="content">
        <div class="contributors labels">
            <div class="contributor crossroads">Presented by</div>
            <div class="contributor jockey_club">Funded by</div>
        </div>
        <div class="contributors logos">
            <div class="contributor logo crossroads"></div>
            <div class="contributor logo jockey_club"></div>
        </div>
    </div>
</div>