<ul class="large-block-grid-6 small-block-grid-2 medium-block-grid-3 list items_list xxlarge-block-grid-4">
  {{#each pagedContent key="@index" as |record|}}
    <li>
      {{#if record.isSet}}
        {{#link-to 'package_set' record.id (query-params sortBy=sortBy categoryId=category) }}
          {{cloudinary-image-tag src=record.displayImageUrl item=record displayItemName=record.packageType.name displayItemOverlay=true}}
        {{/link-to}}
      {{else}}
        {{#link-to 'package' record.id (query-params sortBy=sortBy categoryId=category) }}
          {{cloudinary-image-tag src=record.displayImageUrl item=record displayItemName=record.packageType.name displayItemOverlay=true}}
        {{/link-to}}
      {{/if}}
    </li>
  {{/each}}
</ul>

{{#if showPaginationBar}}
  {{page-numbers content=pagedContent}}
{{/if}}
