<div class="notifications">
  <i class="fa dashboard-menu item-menu">
    {{fa-icon 'hand-paper' prefix="far" }}
  </i>
  {{#if hasMessages}}
  <span class="notifications unread tab-unread-count">
    <div class="unread_length">{{unreadSharedOffersMessagesCount}}</div>
  </span>
  {{/if}}
</div>
{{t "my_dashboard.from_donors.title"}}
