.about_page {
  @media #{$medium-up} {
    &.shift_left {
      width: 90%;
    }
  }
  position: relative;
  color: white;
  text-align: left;
  padding: 1em;
  border-bottom: 1px solid #334f75;

  .warning-text {
    text-align: center;
  }

  // Content
  .section_subtitle{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    @media #{small-only}{
      width: 100%;
    }
    @media #{large-only} {
      width: 80%;
    }
    border-top: 1px solid;
  }
  .section_title, .section_subtitle{
    font-family: $header-font-family;
    font-weight: bold;
    font-size: 1.3em;
  }
  .section_subtitle {
    font-size: 1.1em;
  }

  .section_text {
    margin: 1em auto;
  }

  // Helpers

  .button {
    &.action {
      white-space: normal;
      padding-left: 2rem;
      padding-right: 2rem;
      text-transform: uppercase;
      margin-top: 1rem;
      font-size: 0.9em;
      .fa {
        margin-right: 10px;
      }
    }

    &.scroll-down {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
  }

  &.small,
  .small {
    font-size: 0.9rem;
  }

  &.light,
  .light {
    color: #e0e5ebdb;
  }

  a {
    text-decoration: underline;
  }

  ul.list-alpha {
    list-style-type: lower-alpha;
  }

  ul.fa-bullets {
    list-style-type: none;
    i {
      margin-right: 0.8rem;
    }
  }
}
