$mentioned-user-display-color: rgb(249, 193, 118);
$mentioned-user-display-border: rgba(235,176,97,1);
$mentioned-user-textbox-color: rgba(196,221,255,1);
$mentioned-user-textbox-border: rgba(156,198,255,1);

.mentioned {
  background: $mentioned-user-textbox-color;
  border: 1.6px solid $mentioned-user-textbox-border;
  border-radius: 5px;
  padding: 5px;
  color: black;
}

.mentioned-message-display {
  background: $mentioned-user-display-color;
  border: 1.6px solid $mentioned-user-display-border;
  border-radius: 5px;
  color: black;
  padding: 7px;
}
