.my_orders {

  @media #{$large-up} {
    &.row {
      max-width: 800px;
      margin: 0 auto;
    }
  }

  .title {
    font-weight: bold;
    font-size: 1rem;
    color: white;
    text-align: center;
    margin: 1rem;
  }

  .content {
    margin: 0 auto;

    // ---- ACTION BUTTONS ('Browse goods', 'Book appointment')
    .button-container {
      text-align: center;
      .button {
        width: 80%;
        font-size: 0.8em;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
        .fa {
          margin-right: 0.35rem;
        }
      }
    }

    // ---- LIST OF ORDERS
    .list-items {
      li {
        padding-right: 0;
      }
    }

    // ---- ORDER DETAILS (WHEN SELECTED)
    .order-summary {
      @each $state, $color in (
        submitted: $submitted-state-color,
        processing: $processing-state-color,
        awaiting_dispatch: $scheduled-state-color,
        scheduled: $scheduled-state-color,
        dispatching: $dispatching-state-color,
        cancelled: $cancelled-state-color,
        closed: $closed-state-color,
        draft: $draft-state-color
      ) {
        &.#{$state} {
          .header, .booking-tab .state-container {
            background-color: $color;
          }
        }
      }

      // ---- TOP COLORED HEADER
      .header {
        border-bottom: none;
        text-align: center;
        .strong {
          font-family: $header-font-family;
        }
        .close-order-summary{
          cursor: pointer;
        }
        .header-icon {
          padding-top: 0.2rem;
          padding-left: 0;
          .icon {
            line-height: 1.5rem;
          }
          .sub-text {
            font-size: 0.6rem;
            line-height: 0.6rem;
          }
        }
      }

      // ---- TABS (BOOKING/GOODS/...)
      .tabs .tab {
        text-align: center;
        opacity: 0.5;
        cursor: pointer;
        &.active {
          opacity: 1;
          &.active-tab{
            border-bottom: 3px solid #334f75;
          }
        }
        .fa {
          margin-right: 0.5rem;
        }
      }

      // ---- TAB DATA
      .tab-content {

        // ---- SECTIONS (Separated by lines)
        section {
          &:not(:last-child) {
            border-bottom: 1px solid white;
          }
          padding-bottom: 1rem;
          padding-top: 1rem;


          .cancel-booking {
            border: none !important;
            text-decoration: underline;
          }

          .edit-appointment-details {
            right: 1rem;
            background-color: transparent;
            border: 1px solid white;
          }

          .section-title {
            color:white;
            top: 0.5rem;
            font-family: $header-font-family;
            padding-left: 6%;
            margin-bottom: 1.5rem;
          }

          // ---- PAIRS OF LABELS AND TEXT
          &.details {
            .detail-row {
              font-size: 0.9rem;
              margin: 0.5rem 0;
              padding-left: 6%;
              .data-type {
                @extend .columns;
                @extend .small-4;
              }
              .data {
                @extend .columns;
                @extend .small-8;
                color: white;
              }
            }
          }
        }


        // ---- TAB SPECIFIC STYLES

        // ---- BOOKING TAB
        .booking-tab {

          .state-description {
            padding: 0 10%;
            margin: 1.5rem 0;
            color: white;
            .state-container {
              padding: 1rem;
              .state-title {
                .fa {
                  margin-right: 0.5rem;
                }
                margin-bottom: 1rem;
                font-family: $header-font-family;
                text-transform: capitalize;
              }
              .state-text {
                font-style: italic;
              }
            }
          }

          section.purpose {
            ul {
              margin-bottom: 0;
            }
          }
        }

        // ---- GOODS TAB
        .goods-tab {
          .product-row {
            &:not(:last-child) {
              border-bottom: 1px solid white;
            }
            .image-container {
              padding: 1rem;
              img {
                border: 1px solid white;
              }
            }
            .text-container {
              padding-top: 1rem;
              >div {
                &.text {
                  color: white;
                }
                font-size: 0.75rem;
              }
            }
          }

        }



      }
    }
  }
}

.cancel-appointment {
  a#btn1 {
    display: none;
  }
}

.cancel-appointment-buttons {
  padding: 0.5rem;
  margin-top: 1rem !important;
}

.cancel-booking-warning {
  font-size: 1.2rem !important;
  font-weight: bolder;
}

.cancel-booking-error {
  background: #fddbdc;
  border-color: #f34d4f;
}

.inline-content {
  display: inline-block;
}

.right-align {
  float: right;
  cursor: pointer;
  margin-right: 0.5rem;
  text-decoration: underline;
}

.empty-cart-message{
  padding-left: 7px !important;
  font-size:1rem !important;
  text-decoration: underline;
}
.cart-message-box{
  margin-top: 4rem;
}

.inventory_redirect {
  text-decoration: underline;
  cursor: pointer;
}
