.my_account{
  padding-left: 1em;
  .section-title {
    color: white;
    font-family: $header-font-family;
  }

  // ---- PAIRS OF LABELS AND TEXT
  section {
    &:not(:last-child) {
      border-bottom: 1px solid white;
    }

    padding-bottom: 1rem;
    padding-top: 1rem;

    &.details {
      .detail-row {
        margin: 0.8rem 0;
        overflow-wrap: break-word;

        .data {
          color: white;
        }
      }
    }
  }
}
