.image-tabs {
  .item-package-category {
    cursor: pointer;
    font-size: 0.9em !important;
    text-decoration: underline;
  }

  .item-notes {
    font-size: 0.8em !important;
    font-weight: unset !important;
  }
}

.goods_search {
  .search_results.title {
    cursor: default;
  }

  #searchText::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }

  .infinite-list-container::-webkit-scrollbar {
    width: 0 !important
  }

  .infinite-list-container::-webkit-scrollbar {
    display: none;
  }

  .infinite-list-container {
    -ms-overflow-style: none; // IE 10+
    scrollbar-width: none;
  }

  .main_section {
    padding: 0 0.3em !important;
  }

  .back_button {
    @media #{$large-only} {
      margin-top: 1.5% !important;
    }

    @media #{$medium-only} {
      width: 15%;
      margin-top: 2.0% !important;
    }

    @media #{$xlarge-only} {
      margin-top: 1% !important;
    }

    @media #{$xxlarge-only} {
      margin-top: 1% !important;
    }

    @media #{$small-only} {
      width: 22%;
      margin-top: 1.4%;
    }

    .back_icon {
      display: flex;
      align-items: center;
    }

  }

   .input-field {
      @media #{$small-only} {
        width: 73%;
      }
    }

  .search_info {
    margin-left: 5%;
    color: black;
    font-size: 0.8rem;
    cursor: default;

    @media #{$small-only} {
      font-size: 0.6rem;
    }
  }
}

.goods_search {
  .list-image {
    padding: 1em 1em;
  }

  .image-item-overlay {
    position: absolute;
    background: #002352;
    display: block;
    opacity: 0.7;
    width: 100%;
    bottom: 0;
    height: 40%;

    .item_desc {
      color: #fff;
      font-size: 0.9em;
      padding: 1em 0;
    }
  }
}

.search-box {
  position: relative;
  padding: 0;
  background-color: $light-grey;
  z-index: 1000;

  @media #{$small-only} {
    font-size: 1.2rem;
    padding: 0.5rem 0.5rem;
    width: 100% !important;
  }

  input {
    padding-left: 0.5rem;
    width: 97.5%;
    margin: 0.5rem;
    border-radius: 0.25rem;
    height: 2rem;

    @media #{$small-only} {
      width: 95%;
    }
  }

  i {
    position: absolute;
    right: 2.5%;
    top: 0.93rem;
    color: $black;
    font-size: 1rem;
    cursor: pointer;

    @media #{$small-only} {
      font-size: 1rem;
      padding: 0.5rem 0.3rem 0.5rem;
      top: 0.41rem;
    }
  }

  .back_icon {
    margin-left: 10%;
    text-decoration: none;
  }

  .package_back {
    text-decoration: none;
    color: #000;
    font-size: 0.9rem;
    cursor: pointer;
    margin-left: 15%;

    @media #{$small-only} {
      margin-left: unset;
      font-size: 0.7em;
    }
  }

  .back_button {
    i {
      position: inherit;
    }
  }

  .organisation_back {
    text-decoration: none;
    color: #000;
    font-size: 0.8rem;
    cursor: pointer;
    padding-top: 1rem;

    @media #{$small-only} {
      margin-left: -10%;
      font-size: 0.7rem;
    }
  }

  a {
    color: $medium-blue !important;
    text-decoration: underline;
    top: 0.6rem;
    margin-top: 0.6rem;
    right: 3%;
    font-size: 1.1rem;
    font-weight: bold;

    @media #{$small-only} {
      font-size: 0.8rem;
      top: 0.8rem;
    }
  }
}

.no_result {
  text-align: center;
  font-weight: bold;
  color: white;
  margin-top: 2rem;

  @media #{$small-only} {
    font-size: 0.9rem;
  }
}

.search {
  padding-bottom: 5rem;
  min-height: 25rem;
  margin-top: 1.5rem;

  .columns {
    padding: 0;
  }

  .list.list-activity {
    margin-left: 0rem;
    margin-right: 0rem;
    cursor: pointer;
  }

  li {
    padding: 0.8rem 1rem;
    border-bottom: 1px solid #707070;

    @media #{$small-only} {
      font-size: 0.7rem;
    }

    .state_details {
      color: $white;
      font-weight: bold;
    }

    .row {
      padding: 0.2rem 0;
    }
  }

  .org_search {
    color: #E2E6EB;
    margin-left: -2%;
    padding-bottom: 1rem;
  }
}

.fixed_search_header {
  //position: fixed;
  z-index: 1000;

  @media #{$medium-up} {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    left: 50%;
  }
}

.goods_search.list {
  .item {
    cursor: pointer;
  }
}

.search-code,
.goods_search {
  .back-link {
    text-decoration: none;
    padding-top: 0.8rem;
    color: #000 !important;
    cursor: pointer;
    font-size: 0.9rem;
    padding-left: 1.5rem;

    @media #{$small-only} {
      margin-left: -10%;
      font-size: 0.7rem;
    }
  }

  li {
    border-bottom: unset !important;
  }

  .title {
    margin-top: 0.8em;
    margin-left: 0.3em;
    font-size: 1em;
    color: white;
  }
}

.contact_us {
  color: #000;
  padding: .7rem 1rem 1rem 1.8rem;
  font-size: .7rem !important;
}

.headline {
  color: white;
  font-size: .8rem;
  margin-left: 2rem;
  font-weight: 100;
  text-transform: uppercase;
}
