.terms-page, .privacy-page {
  padding: 1em;
  p,
  li {
    @media #{$small-only} {
      font-size: 0.8rem;
      line-height: 1.4rem;
      margin-bottom: 0.7rem;
      margin-top: 0.7rem;
    }
    @media #{$large-only} {
      margin-left: 4em;
      max-width: 80%;
      font-size: 1rem;
      line-height: 1.4;
      margin-bottom: 1.25rem;
      text-rendering: optimizeLegibility;
    }
  }

  p b {
    color: $white;
  }
}

.faq-page {
  padding: 1em;
  dl, ol, ul {
    font-size: 1rem;
    margin-bottom: 0.7rem;
  }
 
  p {
    color: $white;
    font-size: 1rem;
  }

  a {
    text-decoration: underline;
    cursor: pointer;
  }

  .faq-questions {
    margin-left: 0.5rem;
    li {
      color: $white;
      a {
        text-decoration: none;
      }
    }
    li.faq-question-title {
      list-style: none;
      font-weight: bold;
    }
  }
  
  .faq-answers {

    .faq-answer-section {
      border-top: 1px solid $white;
      margin-top: 1rem;
      padding-top: 1rem;
    }
    .faq-answer-section-title {
      color: $white;
      font-weight: bold;
      font-size: 1.5rem;
      padding: 0 0 1.5rem 0;
    }
    
    li {
      list-style: none;
      color: $white;
    }
    .faq-answer-title {
      font-weight: bold;
    }
    .faq-answer-text {
      ul, ol {
        li {
          list-style: auto;
        }
      }
      padding: 0 0 2rem 0;
    }
  }
  
}
