.confirm-booking-page {

  .cart-item-info {
    &.unavailable {
      img {
        opacity: 0.5;
      }
      .package-name {
        text-decoration: line-through;
      }
    }
  }

  a {
    color: #a3aab6;
    text-decoration: underline;
  }

  .red-warning {
    background: #ED4C4E;
    color: white;
    padding: 0.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .request_more_link {
    text-align: center;
  }
}

.cart-widget{
  @media #{$small-only} {
    float: right;
  }
}

.your-detail {
  .detail {
    color: white;
  }

  .info {
    margin-bottom: 0.5rem;
  }

  h1 {
    font-size: 1.125rem;
    @media #{$small-only} {
      font-size: 0.9rem;
    }
  }

  .thumb-image {
    height: 5.5rem;
  }
}
