.your-detail {
  .detail {
    color: white;
  }

  .info {
    margin-bottom: 0.5rem;
  }

  h1 {
    font-size: 1.125rem;
    @media #{$small-only} {
      font-size: 0.9rem;
    }
  }

  .thumb-image {
    height: 5.5rem;
  }
}

.booking-success-state {
  font-size: 150%;
}
