.appointment-date{
  .calender_icon {
    margin-right: 1.1rem;
    font-size: 1.1rem;
    display: inline;
    color: #FFA3A3;
    float: right;
    margin-top: -2.68rem;
  }
  i.calendar_icon:before {
    position: absolute;
  }
  .checkbox.form__control--error{
    border-color: #f34d4f;
    background: #fddbdc;
  }
}