.browse-label{
  font-size: 14px;
  padding: 1em 0;
  border-bottom: 1px solid #334f75;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  li{
    padding-right: 1rem;
  }

  .main_category {
    a {
      text-decoration: none;
      &:hover {
        color: $medium-blue;
      }
    }
  }
  img {
    padding: 1rem 0;
  }
}
