.home_page {
  .introduction{
    @media #{$large-only}{
      margin-top: 10px;
    }
  }
  .cart-icon{
    @media #{$small-only} {
      display: none;
    }
  }
  .cart {
    &.unread {
      position: absolute;
      @media #{$large-only} {
        right: 20%;
      }
      @media #{$medium-only} {
        right: 2%;
      }

      .unread_length {
        line-height: 1.3rem;
        width: 1.2rem;
        height: 1.2rem;
        font-size: .8rem;
        display: block;
        color: white;
        text-transform: uppercase;
        text-align: center;
        border-radius: 50%;
        background: #ee4c4e;
        font-weight: 700;
        margin-top: -.1rem;
        float: inherit;
      }
    }
  }
  #image-overlay {
    opacity: 0.7;
    z-index: 1;
    position: absolute;
    left: -5%;
    top: 0;
    background-color: #1a1d21;
    width: 150%;
    height: 100%;
  }

  #image-background{
    position: absolute;
    bottom: 0;
    right:0;
    min-width: 100%;
    min-height: 100%;
    max-width: unset;
    overflow: hidden;
    z-index: -1;
    height: 100%;
    @media #{$large-only} {
      width: 106%;
    }

    @media #{$xlarge-only} {
      width: 108%;
      left: -5%;
    }

    @media #{$xxlarge-only} {
      width: 108%;
    }
  }
  .intro-text{
    height: 100%;
    z-index: 2;
    overflow: hidden;
    position: relative;
    text-align: center;
    @media #{$small-only} {
      width: 100%
    }
    @media #{$large-only} {
      width: 90%;
      margin-left: 2em;
    }
    h1 {
      @media #{$small-only}{
        margin: 1em 0;
        font-size: 2em;
      }
      @media #{$large-only}{
        margin: 0.5em 0;
        font-size: 4em;
      }
      @media #{$xlarge-only} {
        margin: 0.5em 0;
        font-size: 3em;
      }
      @media #{$xxlarge-only} {
        margin: 0.5em 0;
        font-size: 4em;
      }
    }
    h1 em {
      z-index: 2;
      color: #FB4951;
      font-style: normal;
      text-transform: uppercase;
    }
  }
  @media #{$medium-up} {
    &.shift_left {
      width: 90%;
    }
  }

  .scroller {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    .home_section {
      z-index: 2;
      position: relative;
      color: white;
      text-align: center;
      padding: 0.9rem;
      border-bottom: 1px solid ;

      // Content
      .content{
        margin-left: -10%;
      }
      .section_title {
        font-family: $header-font-family;
        font-weight: bold;
      }

      .section_subtitle {
        margin-top: 1rem;
      }

      .section_text {
        text-align: left;
        padding-left: 2rem;
        padding-right: 0.5rem;
        margin: 0 auto;
        margin-bottom: 1rem;
        margin-top: 1rem;
        max-width: 30rem;

        .step {
          @extend .small;
          @extend .light;

          margin-top: 1rem;

          .bullet {
            padding-left: 1rem;
          }

          &.transport_option {
            margin-top: 0;
            text-indent: -1em;
            padding: 1rem 1em 0.1em 1em;
          }
        }
      }

      // Helpers

      .button {
        &.action {
          white-space: normal;
          padding-left: 2rem;
          padding-right: 2rem;
          text-transform: uppercase;
          margin-top: 1rem;
          .fa {
            margin-right: 10px;
          }
        }

        &.scroll-down {
          position: absolute;
          top: 1rem;
          right: 1rem;
        }
      }

      &.small,
      .small {
        font-size: 0.7rem;
      }

      &.light,
      .light {
        color: #e0e5ebdb;
      }

      a {
        text-decoration: underline;
      }
    }
  }
}
