.home_page {

  .introduction{
    @media #{$large-only}{
      margin-top: 10px;
    }
  }
  .notification-icon{
    margin-left: 1.5rem;
    a {
      text-decoration: none !important;
    }
    .unread_length{
      margin-top:unset;
    }

    @media #{$small-only} {
      display: none;
    }
  }
  .order-cards {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 2.7rem;
    color: #ffffff;
    text-align: center;

    .cards{
      margin-top: 1.0rem;
      display: flex;
      margin-left: 1.5rem;
      justify-content: space-around;

      @media #{$small-only} {
        display: block;;
       }
    }

    @media #{$medium-only} {
      padding-right: unset;
    }
    @media #{$small-only} {
     margin-top: 9rem;
    }
  }
  .video-box{
    margin: 10px 30px;
    background: rgba(255,255,255,0.2);
    padding: 20px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
    width: 89%;
    position: relative;
    z-index: 1;
    > p{
      margin: 0 ;
      padding: 0;
      text-align: center;
      color: #ffffff;
    }
    a{
      text-decoration: underline;
    }
  }
  .cart-icon{
    text-align: left;
    margin-top: -2rem;
    @media #{$small-only} {
      display: none;
    }
    @media #{$medium-only} {
      margin-top: -1.7rem;
    }

    @media #{$large-only} {
      margin-top: -2rem;
    }

    .fa {
      @media #{$medium-only} {
        float: right;
        margin-right: 12%;
      }
      @media #{$large-only} {
        margin-left: 27%;
      }
      @media #{$xlarge-only} {
        float: right;
        margin-right: 40%;
      }
      @media #{$xxlarge-only} {
        float: right;
        margin-right: 10%;
      }
    }
    .fa.max-cart-count {
      @media #{$small-only} {
        margin-right: 23%;
      }

      @media #{$medium-only} {
        margin-right: 35%;
      }

      @media #{$large-only} {
        margin-left: 18%;
      }
    }
  }

  .content {
    position: relative;
    margin: 0rem 5rem;
    @media #{$small-only} {
      margin: 0rem 2rem;
    }
  }

  .cart {
    &.unread {
      position: absolute;

      @media #{$large-only} {
        right: 50%;
      }
      @media #{$xlarge-only} {
        right: 35%;
      }
      @media #{$medium-only} {
        margin-top: -1.6rem;
        right: 2%;
      }
      .unread_length {
        line-height: 1.3rem;
        height: 1.2rem;
        font-size: .8rem;
        margin-top: -.1rem;
        padding: 0 7px;
        margin-right: 0;
      }
    }
  }
  .image-overlay {
    z-index: 1;
    position: absolute;
    left: -6%;
    top: 0;
    width: 150%;
    height: 100%;

    &.tinted {
      background-color: #364b63;
      opacity: 0.5;
    }
  }

  #image-background{
    background-image: url('/assets/images/home-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: -15%; // Have the woman of the picture in the center
  }

  .intro-text{
    z-index: 2;
    position: relative;
    text-align: center;
    @media #{$small-only} {
      width: 100%
    }
    @media #{$large-only} {
      width: 50%;
    }
    h1 {
      @media #{$small-only}{
        margin: 1em 0;
        font-size: 1em;
      }
      @media #{$medium-up} {
        font-size: 1rem;
      }
    }
    h1 em {
      padding: 0.5rem;
      z-index: 2;
      font-style: normal;
      text-transform: uppercase;
    }
  }
  @media #{$medium-up} {
    &.shift_left {
      width: 90%;
    }
  }


  .scroller {
    overflow-y: hidden;
    overflow-x: hidden;

    @media #{$small-only} {
      height: 93vh;
      overflow-y: auto;
      padding-bottom: 8rem;
    }

    @media #{$medium-up} {
      height: 120vh;
      .button_container {
        z-index: 3;

        .home_section {
          border-bottom: none;
        }
      }
    }

    .video{
      z-index: 3;
      position: fixed;
      top: 0rem;
      color: $white;
      margin-top: -2.8rem;

      a{
        text-decoration: underline;
      }

      .intro{
        position: absolute;
        top: 50%;
        left: 5%;
        right: 5%;
        text-align: center;
        font-size: 18px;
      }

      img{
        height: 11.5rem;
        width: 35rem;
        opacity: 0.5;
      }
    }

    .home_section {
      z-index: 2;
      position: relative;
      color: white;
      text-align: center;
      padding: 0.9rem;

      // Content
      .content{
        margin-left: -10%;
      }
      .section_title {
        font-family: $header-font-family;
        font-weight: bold;
      }

      .section_subtitle {
        margin-top: 1rem;
      }

      .section_text {
        text-align: left;
        padding-left: 2rem;
        padding-right: 0.5rem;
        margin: 0 auto;
        margin-bottom: 1rem;
        margin-top: 1rem;
        max-width: 30rem;

        .step {
          @extend .small;
          @extend .light;

          margin-top: 1rem;

          .bullet {
            padding-left: 1rem;
          }

          &.transport_option {
            margin-top: 0;
            text-indent: -1em;
            padding: 1rem 1em 0.1em 1em;
          }
        }
      }

      // Helpers

      .button {
        &.action {
          white-space: normal;
          padding-left: 2rem;
          padding-right: 2rem;
          text-transform: uppercase;
          margin-top: 1rem;
          .fa {
            margin-right: 10px;
          }
        }

        &.scroll-down {
          position: absolute;
          top: 1rem;
          right: 1rem;
        }
      }

      &.small,
      .small {
        font-size: 0.7rem;
      }

      &.light,
      .light {
        color: #e0e5ebdb;
      }

      a {
        text-decoration: underline;
      }
    }
  }
}

.tab-bar{
  background-color: transparent;
}

.youtube-text{
  margin-top: 1.5rem !important;
}
