.home_page {
  #video-overlay {
    opacity: 0.5;
    z-index: 1;
    position: absolute;
    left: 0;
    margin-left: -7%;
    top: 0;
    @media #{$large-only} {
      width: 120%;
      height: 100%;
    }
    @media #{$xlarge-only} {
      width: 150%;
      height: 100%;
    }
    @media #{$xxlarge-only} {
      width: 150%;
      height: 100%;
    }
    background-color: #002450;
  }
  #video-background{
    position: absolute;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    overflow: hidden;
    z-index: -1;
  }
  #image-credit {
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 1;
  }
  .intro-text{
    height: 100%;
    z-index: 2;
    overflow: hidden;
    position: relative;
    text-align: center;
    @media #{$small-only} {
      width: 100%
    }
    @media #{$large-only} {
      width: 80%;
      margin-left: 5em;
    }
    h1 {
      margin: 1em 0;
      @media #{$small-only}{
        font-size: 2em;
      }
      @media #{$large-only}{
        font-size: 4em;
      }
      @media #{$xlarge-only} {
        font-size: 3em;
      }
      @media #{$xxlarge-only} {
        font-size: 4em;
      }
    }
    h1 em {
      z-index: 2;
      color: #FB4951;
      font-style: normal;
      text-transform: uppercase;
    }
  }
  @media #{$medium-up} {
    &.shift_left {
      width: 90%;
    }
  }

  .scroller {
    height: 93vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 8rem;

    @media #{$medium-up} {
      height: 100%;
      .button_container {
        border-bottom: 1px solid ;
        .home_section {
          border-bottom: none;
        }
      }
    }
    .home_section {
      z-index: 2;
      position: relative;
      color: white;
      text-align: center;
      padding: 0.9rem;
      border-bottom: 1px solid ;

      // Content

      .section_title {
        font-family: $header-font-family;
        font-weight: bold;
      }

      .section_subtitle {
        margin-top: 1rem;
      }

      .section_text {
        text-align: left;
        padding-left: 2rem;
        padding-right: 0.5rem;
        margin: 0 auto;
        margin-bottom: 1rem;
        margin-top: 1rem;
        max-width: 30rem;

        .step {
          @extend .small;
          @extend .light;

          margin-top: 1rem;

          .bullet {
            padding-left: 1rem;
          }

          &.transport_option {
            margin-top: 0;
            text-indent: -1em;
            padding: 1rem 1em 0.1em 1em;
          }
        }
      }

      // Helpers

      .button {
        &.action {
          white-space: normal;
          padding-left: 2rem;
          padding-right: 2rem;
          text-transform: uppercase;
          margin-top: 1rem;
          .fa {
            margin-right: 10px;
          }
        }

        &.scroll-down {
          position: absolute;
          top: 1rem;
          right: 1rem;
        }
      }

      &.small,
      .small {
        font-size: 0.7rem;
      }

      &.light,
      .light {
        color: #e0e5ebdb;
      }

      a {
        text-decoration: underline;
      }
    }
  }
}
