.offers {
  @media #{$small-only} {
    font-size: 0.7rem;
  }

  @media #{$large-only} {
    font-size: 1rem;
  }

  ul{
    margin-left:0rem;
  }

  .images{
    @media #{$large-only} {
      img{
        max-width: 80%;
      }
    }
  }

  .info_box {
    margin-bottom: 10px;
    padding: 20px;
    background-color: #334f75;
    color: white;
    a {
      text-decoration: underline;
    }
    ul {
      margin-left: 1.1rem;
      font-size: 100%;
    }

  }

  .no_image{
    line-height: 1.5rem;
    text-align: center;
    margin-top: 3rem;
  }

  .view_offer {
    background: #ED4C4E;
    padding: 5px 20px;
    color: #F7C8C8;
  }

  .view_message{
    position: fixed;
    right: 0;
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }

  .offer_details_button{
    cursor: pointer;
    background: #ED4C4E;
    text-decoration: underline;
    color: #F7C8C8;
    display: table;
    padding: 5px 10px;
  }

  .location {
    margin-left: 1%;
    color:#A7ACB1;
  }

  .offer_display{
    display: flex;
    border-bottom: 1px solid #334f75;
    margin-bottom: 1.18rem;
  }

  .offer_view{
    display:flex;
    flex-direction: column;
    margin-bottom:1.2rem;
    padding-left: 0.7rem;
    padding-top: 0.6rem;
  }

  .offer_instructor{
    margin-bottom: unset;
    padding-left:unset;
  }

  .show_details_text{
    color: $medium-blue;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .items{
    @media #{$small-only} {
      padding-left:0.7rem ;
      font-size: 0.7rem;
    }

    @media #{$large-only} {
      font-size: 1rem;
    }

    .item-details{
      line-height: 1.5rem;
    }
  }

  .offers-time-ago {
    margin-left: 6%;
    color: #C4C9CF;
  }

  #search {
    width: 60%;
    margin-left: 19%;
    padding-left: .5rem;
    border-radius: .25rem;
    height: 2rem;
  }
}

.offer_share_details{
  background-color: #26446C;
  margin-top:1rem;
  padding:0.6rem;

  &.disabled{
    display: none;
  }
}

.image-tab{
  float: right;
  margin-top: -2rem;
  width: 9rem;
  display:flex;

  @media #{$small-only} {
    width: 4rem;
  }
}

.display_message_text{
  padding-left:1rem;
  padding-right:1rem;
  text-align: center;
  margin-top:2rem !important;

  @media #{$small-only} {
    margin-top: 1rem !important;
  }

  .messages{
    display: flex;
    flex-direction:column;

    @media #{$small-only} {
      font-size: 0.8rem;
    }

    i {
      @media #{$small-only} {
        font-size: 1rem;
      }
    }
  }

  span{
    margin-top: 0.8rem;
    margin-left: 25%;
    margin-right: 25%;

    @media #{$small-only} {
      margin-top: 0;
      margin-left: 10%;
      margin-right: 10%;
    }
  }
}

.disable {
  background-color: #7c8391 !important;
  pointer-events: none;
  cursor: not-allowed !important;
}
