.category_page{
  .current{
    color: white !important;
    font-weight: bolder !important;
  }
  .sort{
    .title{
      padding-top: 7px;
    }
  }
  .all-categories,
  .sort {
    font-size: 0.7rem;
  }
  .category_select{
    label{
      line-height: unset;
    }
    display: inline-flex;
  }
  .category_select.fa {
    position: absolute;
    margin-left: -1.5vw;
    font-size: 0.8rem;
    z-index: -1;
    cursor: pointer;
  }

  .dropdown{
    position: absolute;
    right: 0%;
    @media #{$small-only} {
      right: 22px;
    }
  }
  .fa.dropdown{
    z-index: -1;
    position: absolute;
    top: 26%;
    right: 28%;
    @media #{$small-only} {
      right: 0%;
    }
  }
  .image-item-overlay {
    @media #{$small-only} {
      position: absolute;
      background: #002352;
      margin-top: -25%;
      display: block;
      opacity: .8;
      width: 48%;
      padding-bottom: 14%;
    }

    .item_desc {
      @media #{$small-only} {
        margin-top: 10%;
        color: #fff;
        padding-bottom: 2%;
      }
    }
  }
  select {
    -webkit-appearance: unset !important;
    background-color: unset;
    color: #a3aab6;
    text-decoration: underline;
    font-size: 0.7rem !important;
    height: unset;
    padding: unset;
    border: unset;
    cursor: pointer;
  }
}
.tab-bar.category_page {
  .current{
    color: #fff;
    font-weight: 900;
  }

  .breadcrumbs>* {
    color: #a3aab6;
    text-transform: none;
  }
  height: auto;
  @media only screen and (min-width: 120.1em) {
    margin-left: 4rem !important;
  }
}

.items_list {
  li {
    padding: 0 0.5rem;
  }
}

.package-category{
  select {
    @media #{$small-only} {
      max-width: 7rem;
    }
  }
}

#lightGallery {
  img.cl-loading-img{
    max-width: 265px;
    max-height: 283px;
  }

  .small-screen-preview {
    img.cl-loading-img{
      height: 18rem;
      margin-left: 25%;
    }
  }
}

.item_desc {
  @media #{$medium-up} {
    min-height: 2.9rem;
  }
}

.main-section.category-items-list{
  @media #{$small-only} {
    padding-left: 0rem;
  }
}

.underline-link {
  text-decoration: underline;
}
