.change-phonenumber-container {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0%;

  .item {
    flex-grow: 1;
    margin: auto;
  }

  .item-wide {
    flex-grow: 3;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.pin-input-container {
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: center;
  align-items: center;
  margin: auto;

  input {
    color: black !important;
    text-align: center;
  }
}
