<div class="row tabs tab-bar my-orders-tab-bar">
  {{#link-to 'orders.booking' order.id tagName="div" classNames="small-4 columns booking tab text-center"}}
    {{#link-to 'orders.booking' order.id}}
      <i class="item-menu">{{fa-icon 'calendar'}}</i>
    {{/link-to}}
  {{/link-to}}

  {{#link-to 'orders.goods' order.id tagName="div" classNames="small-4 goods tab columns text-center"}}
    {{#link-to 'orders.goods' order.id}}
      <i class="item-menu">{{fa-icon 'shopping-basket'}}</i>
    {{/link-to}}
  {{/link-to}}

  {{#link-to 'orders.conversation' order.id tagName="div" classNames="small-4 messages tab columns text-center"}}
    {{#link-to 'orders.conversation' order.id}}
      {{#if order.hasUnreadMessages}}
        <span class='message_tab_count'>
          <span class='unread_length'>{{order.unreadMessagesCount}}</span>
        </span>
      {{/if}}
      <i class="item-menu">{{fa-icon 'comments-o'}}</i>
    {{/link-to}}
  {{/link-to}}
</div>

<div class="row tabs tab-name active-tab">
  {{#link-to 'orders.booking' order.id tagName="div" classNames="small-4 columns booking active-tab tab text-center"}}
    {{#link-to 'orders.booking' order.id}}
      Booking
    {{/link-to}}
  {{/link-to}}

  {{#link-to 'orders.goods' order.id tagName="div" classNames="small-4 goods tab active-tab columns text-center"}}
    {{#link-to 'orders.goods' order.id}}
      Goods
    {{/link-to}}
  {{/link-to}}

  {{#link-to 'orders.conversation' order.id tagName="div" classNames="small-4 messages active-tab tab columns text-center"}}
    {{#link-to 'orders.conversation' order.id}}
      Messages
    {{/link-to}}
  {{/link-to}}
</div>
