<div class="row tabs tab-icons">
  {{#link-to 'my_updates' tagName="div" classNames="small-4 orders tab columns text-center"}}
    {{#link-to 'my_updates' }}
      <i class="dashboard-menu">{{fa-icon 'bell-o'}}</i>
    {{/link-to}}
  {{/link-to}}

  {{#link-to 'my_orders' tagName="div" classNames="small-4 orders tab columns text-center"}}
    {{#link-to 'my_orders' }}
      <i class="dashboard-menu">{{fa-icon 'calendar'}}</i>
    {{/link-to}}
  {{/link-to}}

  {{#link-to 'my_account' tagName="div" classNames="small-4 account tab columns text-center"}}
    {{#link-to 'my_account' }}
      <i class="dashboard-menu">{{fa-icon 'vcard'}}</i>
    {{/link-to}}
  {{/link-to}}
</div>

<div class="row tabs tab-name active-tab">
  <div class="small-4 columns updates tab text-center">
  </div>
  {{#link-to 'my_updates' tagName="div" classNames="small-4 orders tab active-tab columns text-center"}}
    {{#link-to 'my_updates' }}
      Updates
    {{/link-to}}
  {{/link-to}}

  {{#link-to 'my_orders' tagName="div" classNames="small-4 orders tab active-tab columns text-center"}}
    {{#link-to 'my_orders'}}
      Orders
    {{/link-to}}
  {{/link-to}}

  {{#link-to 'my_account' tagName="div" classNames="small-4 account active-tab tab columns text-center"}}
    {{#link-to 'my_account'}}
      Account
    {{/link-to}}
  {{/link-to}}
</div>
