<div class="row my_dashboard">
  <div class="title show-for-medium-up">Respond to Offer {{model.id}}</div>
  {{partial 'offers/offers_tabs'}}

  Notes:{{model.notes}}
  <div class="large-block-grid-6 small-block-grid-2 medium-block-grid-3 list items_list xxlarge-block-grid-4">
    {{#each model.items as |item|}}
      <li>
        {{item-thumbnail-view cloudinaryId=item.images.[0].attributes.cloudinary_id item=item displayItemOverlay=true}}
      </li>  
    {{/each}}
  </div>  
</div>