<div class="row my_dashboard offer-details category_page offers">
  <div class="title show-for-medium-up">Respond to Offer {{model.id}}</div>
  {{partial 'offers/offers_tabs'}}

  <div class="item_view">
    List of Items:
  </div>
  <section class="main-section category-items-list">
    <ul>
      {{#each model.items as |item|}}
        <div class="row items">
          {{item-thumbnail-view item=item displayItemOverlay=true}}
        </div>
        <hr>
      {{/each}}
    </ul>
  </section>
</div>
