<div class="faq-questions">
  <ul>
    <li class="faq-question-title">一般問題</li>
    <ul>
      <li><a href="faq#q1">誰可申領物資</a></li>
      <li><a href="faq#q2">國際十字路會與好人好市 (GoodCity) 的關係</a></li>
      <li><a href="faq#q3">慈善機構可以申請物資嗎</a></li>
      <li><a href="faq#q4">個別有需要人士可以申領物資嗎</a></li>
      <li><a href="faq#q5">有甚麼物資可供選擇</a></li>
      <li><a href="faq#q6">物資都在良好狀態嗎</a></li>
      <li><a href="faq#q7">收到故障的物品該如何處理</a></li>
      <li><a href="faq#q8">如何前往國際十字路會</a></li>
      <li><a href="faq#q9">你們的開放時間為</a></li>
      <li><a href="faq#q10">若仍有疑問可如何聯絡你們</a></li>
      <li><a href="faq#q11">電腦重生計劃是甚麼</a></li>
    </ul>
    <li class="faq-question-title">有關使用好人好市應用程式或網站</li>
    <ul>
      <li><a href="faq#q12">我可以用個人電郵申請嗎</a></li>
      <li><a href="faq#q13">這個帳戶由前任同事開設，如何更改帳戶資料</a></li>
      <li><a href="faq#q14">無法登入帳戶該如何處理</a></li>
      <li><a href="faq#q15">無法提交訂單該如何處理</a></li>
    </ul>
    <li class="faq-question-title">運輸：</li>
    <ul>
      <li><a href="faq#q16">誰負責支付運費</a></li>
      <li><a href="faq#q17">誰會負責運輸</a></li>
      <li><a href="faq#q18">你們如何安排運輸</a></li>
      <li><a href="faq#q19">如何計算運費</a></li>
      <li><a href="faq#q20">司機會替收件人卸貨並搬回住所嗎</a></li>
      <li><a href="faq#q21">關於預約到訪後的運輸安排</a></li>
    </ul>
    <li class="faq-question-title">網上訂單：</li>
    <ul>
      <li><a href="faq#q22">每次最多可以申請多少項物資？每位受助人最多可以進行多少次申請</a></li>
      <li><a href="faq#q23">為甚麼在網站再找不到某件物品</a></li>
      <li><a href="faq#q24">物品可預留多久</a></li>
      <li><a href="faq#q25">我可以網上選擇物品，然後受助人自行收取嗎</a></li>
      <li><a href="faq#q26">你們找不到某件訂單中的物品會如何處理</a></li>
      <li><a href="faq#q27">我會安排協助將家具搬到受助人的住所。我可以要求具體的到貨時間嗎？</a></li>
      <li><a href="faq#q28">聘用車輛及私人車輛的分別</a></li>
    </ul>
    <li class="faq-question-title">預約：</li>
    <ul>
      <li><a href="faq#q29">受助人在國際十字路會領取物資的流程</a></li>
      <li><a href="faq#q30">預約時長為多久</a></li>
      <li><a href="faq#q31">受助人於預約當日需要帶甚麼文件</a></li>
      <li><a href="faq#q32">受助人可以同時申請兩張訂單(預約/網上訂單)嗎</a></li>
      <li><a href="faq#q33">預訂清單是甚麼</a></li>
      <li><a href="faq#q34">受助人可以直接在你們的中心挑選物品，然後改天領取嗎</a></li>
      <li><a href="faq#q35">你們的所有物品都有存貨嗎</a></li>
    </ul>
    <li class="faq-question-title">更改訂單/預約：</li>
    <ul>
      <li><a href="faq#q36">更改訂單/預約：</a></li>
      <li><a href="faq#q37">我可於預訂清單加入額外物品嗎</a></li>
      <li><a href="faq#q38">我可以如何更改預約日期</a></li>
      <li><a href="faq#q39">最多可更改預約/網上訂單日期多少次</a></li>
      <li><a href="faq#q40">受助人已找到物資，我如何取消預約/網上訂單</a></li>
      <li><a href="faq#q41">可以總結你們的服務如何運作嗎</a></li>
    </ul>
  </ul>
</div>

<div class="faq-answers">
  <div class="faq-answer-section">
    <div class="faq-answer-section-title">一般問題</div>

    <ul>
      <li id="q1">
        <div class="faq-answer-title">誰可申領物資?</div>
        <div class="faq-answer-text">
          合資格機構可為受助人或機構需要申請物資：
          <ul>
            <li>獲豁免繳稅的慈善機構 (<a href="https://www.ird.gov.hk/chi/tax/ach_index.htm">詳列見此</a>)</li>
            <li>社福機構單位 (<a href="https://www.swd.gov.hk/tc/index/site_download/page_listofserv/">詳列見此</a>)</li>
            <li>教學團體及機構 (<a href="https://applications.edb.gov.hk/schoolsearch/schoolsearch.aspx?langno=1">詳列見此</a>)</li>
            <li>其他團體及機構將按個別服務性質處理及審批</li>
          </ul>
        </div>
      </li>

      <li id="q2">
        <div class="faq-answer-title">國際十字路會與好人好市 (GoodCity) 的關係?</div>
        <div class="faq-answer-text">
          國際十字路會是一間香港成立的非牟利機構，旨在回應世界各方需要，你亦可於國
          <a href="https://www.crossroads.org.hk/">際十字路會網站</a>了解更多我們於香港及各地提供的服務。
          好人好市 (GoodCity) 為本會擁有及營運的平台，可在應用程式及網站上使用，協助有需要人士更易找到質素良好的捐贈物品。
        </div>
      </li>

      <li id="q3">
        <div class="faq-answer-title">慈善機構可以申請物資嗎?</div>
        <div class="faq-answer-text">
          當然可以，我們很樂意向合資格機構提供物資。申請時請選擇「訂單是給機構活動使用的」，我們將會核對及審批訂單。
        </div>
      </li>

      <li id="q4">
        <div class="faq-answer-title">個別有需要人士可以申領物資嗎?</div>
        <div class="faq-answer-text">
          可以，但必須經合資格機構代為申請，請向社工說明你的需要並待其為你下單。此舉為確保所有捐贈物資得到充分利用及妥善處理。
        </div>
      </li>

      <li id="q5">
        <div class="faq-answer-title">有甚麼物資可供選擇?</div>
        <div class="faq-answer-text">
          我們一般會有以下物品：
          <ul>
            <li>傢俱：床﹑桌﹑椅﹑梳化﹑書櫃﹑抽屜</li>
            <li>電器：風扇﹑暖爐﹑各種廚房電器（水壺﹑多士爐﹑電飯煲）﹑音響設備（部分電器視乎存貨量而定；如微波爐﹑電視機﹑洗衣機﹑雪櫃）</li>
            <li>家居用品：廚具﹑嬰兒用品</li>
            <li>玩具：樂器﹑單車﹑入電玩具﹑兒童玩具</li>
            <li>其他：衣物﹑書﹑ 個人護理用品</li>
          </ul>
          備註：我們不提供煤氣爐﹑煤氣熱水爐及冷氣機
        </div>
      </li>

      <li id="q6">
        <div class="faq-answer-title">物資都在良好狀態嗎?</div>
        <div class="faq-answer-text">
          我們的大部分二手物資來自慷慨大方的企業機構及個別捐贈者。
          所有電器都經過檢查，但我們畢竟不是一般出售全新貨品的商店，因此不能為物品質素作保證或承擔相關法律責任。
        </div>
      </li>

      <li id="q7">
        <div class="faq-answer-title">收到故障的物品該如何處理?</div>
        <div class="faq-answer-text">
          請電郵至  <a href="mailto:local@crossroads.org.hk">local@crossroads.org.hk</a> 並說明物品情況，若有同類物品可供替換，
          我們會聯絡你及安排換貨。同時，由於電器需求量較高，若要申請領取同類物品，請將有問題的物品退還至本會讓我們再作處理。
        </div>
      </li>

      <li id="q8">
        <div class="faq-answer-title">如何前往國際十字路會?</div>
        <div class="faq-answer-text">
          香港分派中心位於本會30座，
          <p>我們的地址是：</p>

          <blockquote>
            Crossroads Village<br />
            香港屯門青山公路2號國際十字路會
          </blockquote>

          <ul>
            <li><a href="https://goo.gl/maps/289VKkRFR7TCpfBV9">https://goo.gl/maps/289VKkRFR7TCpfBV9</a></li>
            <li><a href="https://www.crossroads.org.hk/wp-content/uploads/2019/07/direction_map_2019.pdf">https://www.crossroads.org.hk/wp-content/uploads/2019/07/direction_map_2019.pdf</a></li>
            <li><a href="https://www.crossroads.org.hk/directions/">Directions to Crossroads Foundation Hong Kong</a></li>
          </ul>

          <p>
            公共交通：於「黃金泳灘」巴士站下車後再走50米即可到達。若你由九龍方向啟程，請先橫過馬路再步行至本會。
          </p>

          <ul>
            <li>小巴: 140M, 43, 43B, 43S</li>
            <li>巴士: 962B, 61M, 52x, 53, A33, K51, K53</li>
          </ul>

        </div>
      </li>

      <li id="q9">
        <div class="faq-answer-title">你們的開放時間為?</div>
        <div class="faq-answer-text">
          若想到訪香港分派中心，請先於網站預約。為確保每位受助人都有足夠時間挑選物資，恕不接受未經預約的造訪。
          我們的開放時間為星期二至六上午十時至下午五時 (一至二時為用膳時間)，於公眾假期及年末盤點物資期間休息。
        </div>
      </li>

      <li id="q10">
        <div class="faq-answer-title">若仍有疑問可如何聯絡你們?</div>
        <div class="faq-answer-text">
          電郵：<a href="mailto:local@crossroads.org.hk">local@crossroads.org.hk</a>
          電話：+852 2272 9343 (香港分派中心直線電話)
          若你有任何關於申請的疑問，請向我們提供好人好市參考編號(GC-XXXXX)
          你亦可在好人好市應用程式或網站以「對話」功能聯絡我們。
        </div>
      </li>

      <li id="q11">
        <div class="faq-answer-title">電腦重生計劃是甚麼?</div>
        <div class="faq-answer-text">
          合資格機構可通過此計劃以低價購買供其內部使用的電腦。按此連結了解更多詳情。
          若你為個別申請者，請電郵至 <a href="mailto:local@crossroads.org.hk">local@crossroads.org.hk</a> 聯絡我們。
        </div>
      </li>

    </ul>
  </div>

  <div class="faq-answer-section">
    <div class="faq-answer-section-title">有關使用好人好市應用程式或網站</div>
    <ul>
      <li id="q12">
        <div class="faq-answer-title">我可以用個人電郵申請嗎?</div>
        <div class="faq-answer-text">
          為確保申請人為合資格機構之註冊社工，煩請使用閣下機構的工作電郵。若沒有工作電郵，
          請電郵至 <a href="mailto:local@crossroads.org.hk">local@crossroads.org.hk</a> 並附上機構登記號碼及閣下的工作證明。
        </div>
      </li>
      <li id="q13">
        <div class="faq-answer-title">這個帳戶由前任同事開設，如何更改帳戶資料?</div>
        <div class="faq-answer-text">
          請電郵至 <a href="mailto:local@crossroads.org.hk">local@crossroads.org.hk</a> 並附上相關資料，如機構名稱、欲更換的名字、電話號碼及電郵地址，我們會儘快回復。
        </div>
      </li>
      <li id="q14">
        <div class="faq-answer-title">無法登入帳戶該如何處理</div>
        <div class="faq-answer-text">
          對於相關情況，我們感到十分抱歉。請電郵至 <a href="mailto:local@crossroads.org.hk">local@crossroads.org.hk</a> 告訴我們：
          <ul>
            <li>你用以登入的電話號碼及電郵地址</li>
            <li>你嘗試登入時所發生的情況</li>
          </ul>
          感謝你的協助，我們會儘快解決以上問題。
        </div>
      </li>
      <li id="q15">
        <div class="faq-answer-title">無法提交訂單該如何處理</div>
        <div class="faq-answer-text">
          對於相關情況，我們感到十分抱歉。請電郵至 <a href="mailto:local@crossroads.org.hk">local@crossroads.org.hk</a> 告訴我們：
          <ul>
            <li>你用以登入的電話號碼及電郵地址</li>
            <li>你嘗試提交訂單時所發生的情況</li>
          </ul>
          感謝你的協助，我們會儘快解決以上問題。
        </div>
      </li>
    </ul>
  </div>

  <div class="faq-answer-section">
    <div class="faq-answer-section-title">運輸：</div>
    <ul>
      <li id="q16">
        <div class="faq-answer-title">誰負責支付運費</div>
        <div class="faq-answer-text">
          收件人需負責支付運費。
          備註：我們偶爾會有一些資助計畫可為受助人支付半數或全數運費。我們適時將向大家宣傳相關資助計畫。
        </div>
      </li>
      <li id="q17">
        <div class="faq-answer-title">誰會負責運輸</div>
        <div class="faq-answer-text">
          提交網上訂單時，你可選擇：
          <ul>
            <li>收件人在本會提取物件
              <ul>
                <li>這代表收件人需自行安排物流（例如本人的私家車或其他個人偏好的送貨方式）</li>
              </ul>
            </li>
            <li>我們為收件人安排物流（運費由收件人負責）
              <ul>
                <li>我們會按貨物數量尺寸挑選適合的車型進行運送及幫忙將物件搬上貨車，收件人則需將物件搬回住所並支付運費。</li>
              </ul>
            </li>
          </ul>

          預約上門挑選物資時，你可選擇：
          <ul>
            <li>受助人會自備車輛
              <ul><li>例如本人的私家車或其他個人偏好的送貨方式</li></ul>
            </li>
            <li>受助人需要聘用車輛的資料
              <ul><li>我們為受助人安排物流，運費由受助人負責</li></ul>
            </li>
          </ul>
        </div>
      </li>
      <li id="q18">
        <div class="faq-answer-title">你們如何安排運輸</div>
        <div class="faq-answer-text">
          當收到代其安排送貨的要求時，我們會通過Lalamove或Gogovan等叫車平台聘用van仔或5.5噸貨車進行運送，運費由收件人負責。
        </div>
      </li>
      <li id="q19">
        <div class="faq-answer-title">如何計算運費</div>
        <div class="faq-answer-text">
          <p>運費金額視乎車型、目的地、時段及多種因素。你亦可按此參考 <a href="https://www.gogox.com/pricing/">GOGOVan 服務收費表</a>。</p>
          <p>於送貨當日確定運費後，我們會致電收件人讓其準備好現金。司機在某些情況下可能要求附加費用，如租用板車、搬運時間過長、隧道費等。</p>
        </div>
      </li>
      <li id="q20">
        <div class="faq-answer-title">司機會替收件人卸貨並搬回住所嗎</div>
        <div class="faq-answer-text">
          司機一般不會幫助搬運，因此我們建議收件人請家人朋友幫忙。若需司機幫助，收件人需付額外費用，而價錢由司機報價。
        </div>
      </li>
      <li id="q21">
        <div class="faq-answer-title">關於預約到訪後的運輸安排</div>
        <div class="faq-answer-text">
          <p>受助人可以自行安排運輸嗎</p>
          <p>可以。但請留意司機會因等候時間過長而收費，為避免支付高昂車費，我們不建議受助人於往返路程選擇計時收費服務。
            他們可經公共交通工具前往本會，挑選好物品後，再乘搭我們安排的 van仔或5.5噸貨車離開。</p>
        </div>
      </li>
    </ul>
  </div>

  <div class="faq-answer-section">
    <div class="faq-answer-section-title">網上訂單：</div>
    <ul>
      <li id="q22">
        <div class="faq-answer-title">每次最多可以申請多少項物資？每位受助人最多可以進行多少次申請</div>
        <div class="faq-answer-text">
          社工或機構職員可替受助人挑選適合的物資。一般正常情況下, 我們不會限制物資數量。
          不過我們會翻查受助人過往的訂單歷史，若該次申請不符合規定，我們會聯絡並詢問你有關詳情，亦有機會不批准申請。
        </div>
      </li>
      <li id="q23">
        <div class="faq-answer-title">為甚麼在網站再找不到某件物品</div>
        <div class="faq-answer-text">
          因為該物品已被其他社工或機構職員揀選。
        </div>
      </li>
      <li id="q24">
        <div class="faq-answer-title">物品可預留多久</div>
        <div class="faq-answer-text">
          提交網上訂單時，你可選擇收件人在本會提取物件或我們安排送貨的日期，一般都會在提交網上訂單當日起計兩個星期內，可挑選的日期會因假期或當日訂單數量而有所不同。
          鑒於倉庫空間有限，我們不會保存預訂貨品超過原定領取或寄送日期。
        </div>
      </li>
      <li id="q25">
        <div class="faq-answer-title">我可以網上選擇物品，然後受助人自行收取嗎</div>
        <div class="faq-answer-text">
          可以。在運輸安排頁面上，請揀選「收件人在本會提取物件」之選項。敬請通知該受助人不可在貨倉内選取及增添其他物品。
          蒞臨中心時，請出示由我們發出的預約確認信和個人身份證明文件以作核實。
        </div>
      </li>
      <li id="q26">
        <div class="faq-answer-title">你們找不到某件訂單中的物品會如何處理</div>
        <div class="faq-answer-text">
          我們將會聯絡你並盡力安排同類物品作替代安排。如未能安排替代物品，我們將會取消該預訂物品。敬請通知受助人一切預訂物資變動。
        </div>
      </li>
      <li id="q27">
        <div class="faq-answer-title">我會安排協助將家具搬到受助人的住所。我可以要求具體的到貨時間嗎？</div>
        <div class="faq-answer-text">
          視乎當日人手安排，我們盡量在預定時間内安排運送所需物資。惟運送時間或會因物資數量、當日路面交通情況等其他不可預知因素而浮動，恕未能提供準確到貨時間
        </div>
      </li>
      <li id="q28">
        <div class="faq-answer-title">聘用車輛及私人車輛的分別</div>
        <div class="faq-answer-text">
          如你在頁面上揀選「聘用車輛」， 我們將會租賃車輛作物資運送。請在頁面之對應地址欄填寫詳細地址（受助人需要自行支付運費）。
          如你在頁面上揀選「私人車輛」，受助人將需自行安排物流到本會並領取其預訂物品。
        </div>
      </li>
    </ul>
  </div>

  <div class="faq-answer-section">
    <div class="faq-answer-section-title">預約：</div>
    <ul>
      <li id="q29">
        <div class="faq-answer-title">受助人在國際十字路會領取物資的流程</div>
        <div class="faq-answer-text">
          預約領取物資的流程大致如下：
          <ol>
            <li>受助人到達分派中心後，我們會要求他/她出示紙本或電子版預約確認信和個人身份證明文件（香港居民身份證或臨時身份證明書 ）以作核實。</li>
            <li>我們會在開始揀選物品前向受助人確認是次預約所需物資。</li>
            <li>受助人直系親屬可以隨同進入倉庫，我們會從旁協助。</li>
            <li>我們會確認受助人挑選的物品是否可供領取並助其搬到上貨區。</li>
            <li>全部物品都搬運完畢後，我們會再作最後檢查。</li>
            <li>我們會為受助人安排物流，一般通過Lalamove或Gogovan等叫車平台聘用van仔或5.5噸貨車進行運送。</li>
            <li>受助人會隨車回到住所。</li>
            <li>司機一般不會幫助卸貨</li>
          </ol>
        </div>
      </li>
      <li id="q30">
        <div class="faq-answer-title">預約時長為多久</div>
        <div class="faq-answer-text">
          每位受助人大約有60-90分鐘在倉庫揀選物品。
        </div>
      </li>
      <li id="q31">
        <div class="faq-answer-title">受助人於預約當日需要帶甚麼文件</div>
        <div class="faq-answer-text">
          請帶同紙本或電子版預約確認信、個人身份證明文件及適量現金以支付車費。
        </div>
      </li>
      <li id="q32">
        <div class="faq-answer-title">受助人可以同時申請兩張訂單(預約/網上訂單)嗎</div>
        <div class="faq-answer-text">
          不可以。每次請為受助人（或以家庭作單位）申請一張訂單。
        </div>
      </li>
      <li id="q33">
        <div class="faq-answer-title">預訂清單是甚麼</div>
        <div class="faq-answer-text">
          <p>這張清單列明了受助人已申請並可以領取的物品，其用意為讓我們與社工同步了解受助人的需要。此外，為讓更多人得到所需物資，請只揀選切合自身需要的物品。
            我們亦會翻查受助人過去領取物資的歷史，避免出現濫用資源的情況。</p>
          <p>我們一般不會替受助人增添清單以外的物品，但若有緊急需要，請經電郵或好人好市應用程式/網站聯絡我們進行更改。</p>
          <p>由於捐贈物資有限，基於先到先得原則，我們不能保證可以滿足清單上所有要求。</p>
        </div>
      </li>
      <li id="q34">
        <div class="faq-answer-title">受助人可以直接在你們的中心挑選物品，然後改天領取嗎</div>
        <div class="faq-answer-text">
          不可以。我們希望能為受助人提供最貼心的服務，但這會造成庫存空間不足。因此若受助人當日不便領取物資，煩請為他/她改期。
        </div>
      </li>
      <li id="q35">
        <div class="faq-answer-title">你們的所有物品都有存貨嗎</div>
        <div class="faq-answer-text">
          我們很樂意滿足受助人的要求，但由於一切物資都全賴公眾捐贈，而且基於先到先得原則，我們無法保證受助人於預約當日蒞臨本會時，清單上所有物品皆有存貨。請務必與受助人溝通清楚。
        </div>
      </li>
    </ul>
  </div>

  <div class="faq-answer-section">
    <div class="faq-answer-section-title">更改訂單/預約：</div>
    <ul>
      <li id="q36">
        <div class="faq-answer-title">更改訂單/預約：</div>
        <div class="faq-answer-text">
          我們只接受於送貨日前三天對訂單進行合理範圍內的更改 。請電郵至
          <a href="mailto:local@crossroads.org.hk">local@crossroads.org.hk</a>
          並附上物品與相關資料的截圖及好人好市參考編號(GC-XXXXX)。
        </div>
      </li>
      <li id="q37">
        <div class="faq-answer-title">我可於預訂清單加入額外物品嗎</div>
        <div class="faq-answer-text">
          我可於預訂清單加入額外物品嗎
        </div>
      </li>
      <li id="q38">
        <div class="faq-answer-title">我可以如何更改預約日期</div>
        <div class="faq-answer-text">
          在好人好市應用程式或網站的頁面上，你可以選取欲更改日期的訂單，按「預約」後再按「修改」以查看可供選擇的時段。
        </div>
      </li>
      <li id="q39">
        <div class="faq-answer-title">最多可更改預約/網上訂單日期多少次</div>
        <div class="faq-answer-text">
          <p>每張訂單最多可改期兩次。</p>
          <p>當我們庫存量不足或出現其他有緊急需要的申請者，我們保留拒絕改期及取消訂單的權利。</p>
        </div>
      </li>
      <li id="q40">
        <div class="faq-answer-title">受助人已找到物資，我如何取消預約/網上訂單</div>
        <div class="faq-answer-text">
          在好人好市應用程式或網站的頁面上，你可以選取欲取消的訂單，按「預約」後再按「取消」訂單。
        </div>
      </li>
      <li id="q41">
        <div class="faq-answer-title">可以總結你們的服務如何運作嗎</div>
        <div class="faq-answer-text">
          受助人欲於國際十字路會好人好市平台申請物資程序如下：
          <ol>
            <li>請聯絡你的社工/相關機構職員（下稱「你的聯絡人」）並待其為你於 <a href="https://charities.goodcity.hk">charities.goodcity.hk</a>下單。</li>
            <li>你可於 <a href="https://charities.goodcity.hk">charities.goodcity.hk</a> 選取「網上瀏覽我們的庫存」並向你的聯絡人說明你的需要。
              <ul>
                <li>平台上已列明物品尺寸，請參考後再作考慮。</li>
                <li>你的聯絡人下單後，我們會在倉庫搜集物品並保證所需物資皆有存貨（若有任何更改，我們會通知你的聯絡人）</li>
                <li>於送貨當日，我們會致電你本人以確定有人可以收貨</li>
                <li>請注意：叫車平台的司機一般不會幫助卸貨及搬到住所，請確保有人協助你搬運物資。</li>
                <li>收件人需負責支付運費。
                  <ul>
                    <li>可參考 <a href="https://www.gogox.com/pricing/">GOGOVan 服務收費表</a></li>
                    <li>運費視乎車程及車型而定，van仔價格由$70至$200不等，而5.5噸貨車 則由$180至$450不等</li>
                    <li>司機在某些情況下可能要求附加費用，如租用板車、搬運時間過長、隧道費等</li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>若你想到訪香港分派中心，請通知你的聯絡人（你的社工/相關機構職員）為你安排，他/她可以在好人好市應用程式或網站的頁面上選取「預約到訪我們的中心」並會將你需要的物資加入預訂清單。
              <ul>
                <li>地址：<a href="https://goo.gl/maps/289VKkRFR7TCpfBV9">屯門青山公路2號國際十字路會30座（黃金海岸住宅1期對面）</a></li>
                <li>請注意我們無法保證清單上所有物品皆有存貨（尤其電器）</li>
                <li>我們可安排物流，而收件人需負責支付運費及搬運，我們建議你安排幫手協助搬運物資</li>
              </ul>
            </li>
            <li>有關改期及其他要求，請通知你的聯絡人，我們會與其再作跟進。</li>
          </ol>
        </div>
      </li>
    </ul>
  </div>
</div>