<div class="row my_dashboard">
  <div class="title show-for-medium-up">{{t "my_dashboard.my_dashboard"}}</div>
  {{partial 'my_dashboard/my_dashboard_tabs'}}

  <div class="small-12 columns content">
    <div class="row my_acccount">
    </div>
  </div>
</div>
